* {
  padding: 0;
  margin: 0;
  --color-main: #922ec5;
  --color-active: red;
  --color-sub: #000;
  --color-text: #fff;
}

.title {
  margin: 10px 0;
}

.stats {
  margin-bottom: 10px;
}

.app {
  width: 100vh;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.board {
  width: calc(66px * 4);
  height: calc(66px * 4);
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  border: 2px solid var(--color-sub);
  user-select: none;
}

.cell {
  width: 64px;
  height: 64px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--color-sub);
  cursor: pointer;
  background-color: var(--color-sub);
  color: var(--color-text);
  box-shadow: inset 0 0 0 2px var(--color-main);
}

.cell.null {
  background-color: var(--color-text);
}

.cell.selected {
  background-color: var(--color-active);
}

.btn {
  border: 2px solid var(--color-sub);
  cursor: pointer;
}

.btn-ok {
  color: var(--color-text);
  background-color: var(--color-main);
  padding: 10px;
}

.btn-shuffle {
  margin: 10px;
  text-transform: uppercase;
}

.btn-shuffle:hover {
  border: 2px solid var(--color-main);
  background-color: var(--color-sub);
}

.btn-shuffle:active {
  background-color: var(--color-active);
}
