* {
  padding: 0;
  margin: 0;
  --color-main: #922ec5;
  --color-active: red;
  --color-sub: #000;
  --color-text: #fff;
}

.title {
  margin: 10px 0;
}

.app {
  height: 100vh;
  display: grid;
  place-content: center center;
}

.btn {
  border: 2px solid var(--color-sub);
  cursor: pointer;
}

.btn-ok {
  color: var(--color-text);
  background-color: var(--color-main);
  padding: 10px;
}

.btn-shuffle {
  margin: 10px;
  text-transform: uppercase;
}

.btn-shuffle:hover {
  border: 2px solid var(--color-main);
  background-color: var(--color-sub);
}

.btn-shuffle:active {
  background-color: var(--color-active);
}
